@import url('https://fonts.googleapis.com/css?family=Titillium+Web');


body {
  font-size: 25px;
  font-family: 'Titillium Web', sans-serif;
  color: grey;
  background: url('../images/spiration_dark.png');
  width: 960px;
  margin: 0 auto;
}

header {
  height: auto;
  width:  auto;
  margin: 0;
}

nav ul {
  margin: 0;
  list-style: none;
  padding-left: 0;
}

nav li {
  display: inline-block;
  margin-right: 20px;
}

nav a {
  color: rgb(195,191,66);
  background-color: white;
  border-radius: 5px;
  display: inline-block;
  padding: 5px;
  text-decoration: none;
}

nav a:visited {
  color: black;
}

nav a:hover {
  color: black;
}

nav a:active {
  color: rgb(204,196,183);
}

p {
  margin-top: 25px;
  margin-bottom: 25px;
}

#container {
  width: 960px;
}

.space{
  margin-bottom: 20px;
}


#links {
  margin-top: 50px;
}

#map {
  width: 600px;
  height: 400px;
  width: 80%
  float: left;
}

#scale {
  margin-top: 20px;
  margin-left: 2%;
  float: left;
  width: 17%;
}

#footer {
  margin-top: 40px;
}

.dialogueBox {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}


.dialogueBox-content {
    position: relative;
    background-color: black;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}


@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.dialogueBox-header {
    padding: 2px 16px;
    background-color: black;
    color: white;
}

.dialogueBox-body {padding: 2px 16px;}

.dialogueBox-footer {
    padding: 2px 16px;
    background-color: black;
    color: white;
}
