@import url('https://fonts.googleapis.com/css?family=Poor+Story');


body {
  font-size: 20px;
  font-family: 'Poor Story', sans-serif; 
  color: rgb(70,56,43);
  background: url('../images/spiration_dark.png');
  width: 960px;
  margin: 0 auto;
}

header {
  height: auto;
  width:  auto;
  margin: 0;
}

nav ul {
  margin: 0;
  list-style: none;
  padding-left: 0;
}

nav li {
  display: inline-block;
  margin-right: 20px;
}

nav a {
  color: rgb(195,191,66);
  background-color: white;
  border-radius: 5px;
  display: inline-block;
  padding: 5px;
  text-decoration: none;
}

nav a:visited {
  color: black;
}

nav a:hover {
  color: black;
}

nav a:active {
  color: rgb(204,196,183);
}

p {
  margin-top: 30px;
  margin-bottom: 30px;
}

#container {
  width: 960px;
}

.space{
  margin-bottom: 20px;
}


#links {
  margin-top: 50px;
}
